# Python virtual environment
venv/
.venv/

# Python bytecode / caches
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# macOS
.DS_Store

# Hugging Face / datasets cache
.cache/

# Model weights: large, and re-created by running the notebooks
models/
